@import "@mantine/core/styles.css";

@import "@mantine/core/styles/ScrollArea.css";
@import "@mantine/core/styles/UnstyledButton.css";
@import "@mantine/core/styles/VisuallyHidden.css";
@import "@mantine/core/styles/Paper.css";
@import "@mantine/core/styles/Popover.css";
@import "@mantine/core/styles/CloseButton.css";
@import "@mantine/core/styles/Group.css";
@import "@mantine/core/styles/Loader.css";
@import "@mantine/core/styles/Overlay.css";
@import "@mantine/core/styles/ModalBase.css";
@import "@mantine/core/styles/Input.css";
@import "@mantine/core/styles/InlineInput.css";
@import "@mantine/core/styles/Flex.css";

@import "@mantine/core/styles/UnstyledButton.css";
@import "@mantine/core/styles/Button.css";
@import "@mantine/core/styles/Title.css";
@import "@mantine/core/styles/ActionIcon.css";
@import "@mantine/core/styles/Paper.css";
@import "@mantine/core/styles/Skeleton.css";
@import "@mantine/core/styles/Tree.css";
@import "@mantine/tiptap/styles.css";

@layer {
  @tailwind base;

  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: var(--mantine-color-gray-3);
  }

  [data-mantine-color-scheme="dark"] *,
  [data-mantine-color-scheme="dark"] ::before,
  [data-mantine-color-scheme="dark"] ::after {
    border-color: var(--mantine-color-dark-5);
  }
}
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /
    scrollbar-width: none; 
  }
} */

/* Scrollbar styles */
/* Hide scrollbar on mobile */
/* @media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
} */

/* Width */
/* ::-webkit-scrollbar {
  width: 0.75rem;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--mantine-color-body);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--mantine-primary-color-filled);
  border-radius: 2rem;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-primary-color-filled-hover);
} */
